//Colors:
$background-color: #ffffff;
$remove-hobby-color: red;
$selected-user-color: gray;

//Borders:
$default-border: 1px solid black;

//Fonts:
$font-primary: 'Open Sans';

//Padding:
$padding-standard: 10px 10px 8px;

