@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.HobbyWrapper {
  display: flex;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  justify-content: space-around;
}
.Hobby {
  text-align: center;
  padding: $padding-standard;

}
.HobbyPassion {
  @extend .Hobby;
  width: 170px;
}

.HobbyName {
  @extend .Hobby;
  width:100%;
}

.HobbyYear {
  @extend .Hobby;
  width: 110px;
}

.ButtonDeleteHobby {
  @extend .Button;
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 15px;
  border: 4px solid $remove-hobby-color;

}
